body{
    margin:0;
    padding:0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 100%;
    line-height: 1.5rem;
}

header{
    background-color: #4747e7;
    color:#ffffff
}